
<h2><%= @post.subject %> <a href="/posts/<%= @post.id %>/edit">(edit)</a></h2>
<h4><%= @post.poster %></h4>

<p><%= @post.body %></p>

<h3>Comments <%= link_to "(+)", new_post_comment_path(@post) %></h3>
<ul>
  <% @post.comments.reverse.each do |comment| %>
    <li>
      <%= comment.content %> <%= link_to "(edit)", edit_post_comment_path(@post, comment) %>
      <br>
      - <%= comment.commenter %>
    </li>

  <% end %>
</ul>
