<!DOCTYPE html>
<html>
<head>
  <title>Scribble</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <nav>
        <h2><a href="/posts"><%= image_tag "scribble.png" %></a></h2>
        <h4><a href="javascript:history.back()">Back</a></h4>
    </nav>

<%= yield %>

</body>
</html>
